.divHeader {
  cursor: move;
  background-image: url('Imagens/HeaderBg.gif');	
}
.divTituloHeader {
  position: absolute;
  top: 3px;
  left: 3px;
  color: white;
  text-align: center;
  text-indent: 20px;
  font-family: 'Arial';
  font-weight: bold;
  font-size: 12px;
  background-repeat: no-repeat;
}
.divFechar {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer; 
  width: 14px;
  height: 14px;
  padding: 0px;
  margin: 0px;
  background-image: url('Imagens/fechar.bmp');
  background-repeat: no-repeat;
}
.divJanela {
  z-index: 100;
}